@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif;

    --color-black-10-percent: rgba(0,0,0,0.1);
    --color-blue-29a8f1: #29A8F1;
    --color-blue-0e90da: #0E90DA;
    --color-blue-001b2a: #001B2A;
    --color-gray-d9d9d9: #D9D9D9;
    --color-gray-e4e4e4: #E4E4E4;
    --color-gray-dbdbdb: #DBDBDB;
    --color-gray-b4b4b4: #B4B4B4;
    --color-gray-0d0d0d: #0D0D0D;
    --color-gray-303a4d: #303A4D;
    --color-gray-f1f1f1: #F1F1F1;
    --color-yellow-ffe26f: #FFE26F;
    --color-white-f8fdff: #F8FDFF;

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  }